.element__delete-button {
  background-image: url(../../../images/vector-delete.svg);
  background-repeat: no-repeat;
  object-fit: cover;
  border: none;
  background-color: transparent;
  width: 18px;
  height: 19px;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  transition-duration: 0.8s;
}

.element__delete-button:hover {
  opacity: 0.5;
}
