.form__item {
  width: 358px;
  padding: 0 0 10px;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-weight: normal;
}

@media screen and (max-width: 550px) {
  .form__item {
    width: 238px;
  }
}
