.header {
  max-width: 880px;
  padding: 0;
  margin: 45px auto 0;
  background:  #000000;
  border-bottom: 1px solid rgba(54, 54, 54, 0.7);
}

@media screen and (max-width: 1020px) {
  .header {
    max-width: 680px;
  }
}

@media screen and (max-width: 800px) {
  .header {
    max-width: 480px;
  }
}

@media screen and (max-width: 550px) {
  .header {
    max-width: 320px;
    margin: 28px auto 0;
  }
}
