.form__save-button_profile {
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
}

@media screen and (max-width: 550px) {
  .form__save-button_profile {
    font-size: 14px;
    line-height: 17px;
  }

}
