.element__like-button {
  background-image: url(../../../images/vector-heart.svg);
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
  background-color: #ffffff;
  width: 22px;
  height: 19px;
  margin: 5px 5px 1px 0;
  padding: 0;
  box-sizing: border-box;
  transition-duration: 0.8s;
}

.element__like-button:hover {
  opacity: 0.5;
}
